.categories-preview-container {

  padding-bottom: 20px;

  h2 {
    padding-bottom: 20px;
  }
  .product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 50px;
  }
}
